.cat{
position: fixed;
background-image: url(../../image/41dec8a9f263b90898e15d92d9d3de69440cdd0fr1-640-293_00.gif);
background-repeat: no-repeat;
top: 80%;
width: 1350px;
height: 100px;
}

.cat {
  overflow: hidden;
  -webkit-animation: mouse-anim 4s steps(15) infinite;
  animation: mouse-anim 4s steps(15) infinite;
}

@-webkit-keyframes mouse-anim {
  0% {background-position: 0}
  100% {background-position: 1350px}
}

@keyframes mouse-anim {
  0% {background-position: 0}
  100% {background-position: 1350px}
}

.formContainer{
margin-left: 50px;
}

.formContainer h2{
margin: 10px 0px;
}
